.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  color: #ffffff;
  background: #993366;
}

.rotate3D {
  animation: rotation3D 10s infinite ease-in-out;
}

@keyframes rotation3D {
  0% {
    transform: perspective(2000px) rotateX(5deg) rotateY(10deg) rotateZ(0deg);
  }
  50% {
    transform: perspective(2000px) rotateX(10deg) rotateY(30deg) rotateZ(-5deg);
  }
  100% {
    transform: perspective(2000px) rotateX(5deg) rotateY(10deg) rotateZ(0deg);
  }
}
